This is show

<p><%= @photo.title %></p>
<p><%= @photo.description %></p>
<p><%= @photo.date %></p>

<img src="<%= @photo.file_location %>" alt="@photo.file_location"> 

<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Back to index', photos_path %>