This is show

<p><%= @photo.title %></p>
<p><%= @photo.description %></p>
<p><%= @photo.date %></p>

<%= image_tag @photo.file_location.url %>
<%= simple_format(@photo.description) %>

<%= link_to 'Edit', edit_photo_path(@photo) %>

<%= link_to 'Back to index', photos_path %>

